<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof Page_Title !== 'undefined' ? Page_Title : 'Smart Campus' %></title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Font Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

  </head>