<%- include('./partials/head') %>
<link rel="stylesheet" href="/Form_Submit.css">
</head>
<body>

  <main class="form_submit_container">
    <div class="feed_div">
      <div class="box">
          <h1>Your submission has been received successfully!</h1>
          <p>We’ll review it and get back to you soon.</p>
          <a class="submit_link" href="/dashboard">Go To Dashboard</a>
      </div>
    </div>
  </main>

</body>
</html>