<%- include('./partials/head') %>
<link rel="stylesheet" href="/logout.css">
</head>
<body>

  <main class="logout_container">
    <div class="logout_div">
      <div class="container">
        <h1>You have been successfully logged out!</h1>
        <p>See you soon 👋</p>
        <a href="/">Go To Dashboard</a>
      </div>
    </div>
  </main>

</body>
</html>